.cart-page {
    padding: 20px;
    background-color: #f9f9f9;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-item-image-container {
    width: 100px;
}

.cart-item-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
    margin: 0 10px;
}

.cart-item-details h2 {
    margin: 0 0 10px;
}

.cart-item-details p {
    margin: 5px 0;
}

.cart-item-row {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.cart-item-quantity button {
    padding: 5px 10px;
    margin: 0 15px;
    border-radius: 50%;
}

.cart-item-price {
    margin-left: 20px;
    font-weight: bold;
}

.remove-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-button {
    padding: 5px 10px;
    margin-left: 20px;
    background-color: #ff4d4d;
    /* Example color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #ff1a1a;
    /* Darker shade for hover effect */
}

.cart-summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


.clear-cart-button,
.checkout-button {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.clear-cart-button {
    background-color: #ff4d4d;
    /* Example color */
    color: white;
}

.clear-cart-button:hover {
    background-color: #ff1a1a;
    /* Darker shade for hover effect */
}

.checkout-button {
    background-color: #59cc5d;
    /* Example color */
    color: white;
}

.checkout-button:hover {
    background-color: #009908;
    /* Darker shade for hover effect */
}

.cart-total-wrap {
    background-color: #4caf50;
    padding: 0 15px;
    border-radius: 5px;
}

.cart-total {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}