/* userspage.css */

.users-page-container {
    width: 90%;
    margin: 20px auto;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
}

@media (max-width: 768px) {
    .users-page-container {
        width: 100%;
        padding: 10px;
        margin: 10px auto;
    }
}